h1{
    color:black
}
h1{
    text-decoration: underline black;
    background-color: pink;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    margin-top: auto;
}
h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
    border-radius: 0cap;
}
h5{
    text-decoration: wavy;
    border-right: 0cqmin;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    border-left: 0cqh;
    background-color: pink;
}